body::-webkit-scrollbar {
    width: 0.45vw;
}
  
body::-webkit-scrollbar-track {
    background: $escura;
}
  
body::-webkit-scrollbar-thumb {
    background-color: $alaranjado;
    border-radius: 1.25rem;
    border: 0.188rem solid $alaranjado;
}

body {
    @include display-flex(column, flex-start, flex-start);
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 0.45vw;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: $alaranjado;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $neutra;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $neutra;
}