@import '../sass/variables';
@import '../sass/mixin';
@import '../sass/resert';
@import '../sass/bodyDefault';
@import '../sass/slide';
@import '../sass/scrollAnimation';
@import '../sass/owlCarrousel';

header {
    @include box(170px, 100vw);
    @include display-flex(column, space-between, center);
    z-index: 999;
    position: fixed;
    transition: 0.5s linear;
}

.headerGradientt {
    background-color: $escura;
    transition: 0.5s linear;
}

#conteudo-midia {
    @include box(40px, 73vw);
    @include display-flex(row, space-between, center);
}

#contatos {
    @include box(inherit, 400px);
    @include display-flex(row, space-between, flex-start);

    .midia {
        @include box(1.25rem, 1.25rem);
        color: $alaranjado;
    }

    #telefone {

        @include box(inherit, 151px);
        @include display-flex(row, space-between, center);
        margin-right: 15px;

        span {
            font-size: map-get($size, grau5);
            color: $neutra;
            font-weight: map-get($densidade, extraBold);
            cursor: pointer;

            &:hover {
                filter: brightness(80%);
            }
        }
    }

    #hora {
        @include box(inherit, 199px);
        @include display-flex(row, space-between, center);

        span {
            font-size: map-get($size, grau5);
            color: $neutra;
            font-weight: map-get($densidade, extraBold);
            cursor: default;

            &:hover {
                filter: brightness(80%);
            }
        }
    }
}

#redes-sociais {
    @include box(inherit, 133px);
    @include display-flex(row, space-between, center);
    margin-left: 20px;

    img {
        @include box(1.8rem, 1.8rem);
        cursor: pointer;
        color: $neutra;

        &:hover {
            filter: brightness(80%);
        }
    }
}

.conteudo {
    width: 71vw;
}

.itens-header {
    height: 130px;
    @include display-flex(row, space-between, center);
}

#logo {
    min-height: 50px;
    min-width: 50px;
    width: auto;
    height: auto;
    @include display-flex(row, flex-start, center);

    img {
        @include box(6.875rem, 7.188rem);
        border-radius: 50%;
        transition: 0.5s;
        box-shadow: $box-shadow;
        cursor: pointer;
        filter: brightness(110%);

        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
    }

    h1 {
        font-family: 'Righteous', cursive;
        font-size: map-get($size, titulo);
        color: $neutra;
        letter-spacing: 1px;
        margin-left: 0.5rem;
    }
}

#nav {
    @include box(130px, 550px);
    @include display-flex(row, flex-start, flex-start);

    ul {
        @include box(inherit, inherit);
        @include display-flex(row, space-between, center);

        li {
            @include display-flex(row, space-between, center);
            font-size: map-get($size, grau3);
            text-transform: uppercase;

            a {
                color: $neutra;
                text-decoration: none;

                &:hover {
                    filter: brightness(80%);
                }
            }
        }
    }
}

main {
    width: 100%;
    min-height: 1800px;
    @include display-flex(column, flex-start, center);
    background: linear-gradient(135deg, #C7491E, #e6bb1f);

    .itens-main {
        @include display-flex(column, flex-start, flex-start);

        #filtragem {
            min-height: 100px;
            width: 100%;
            @include display-flex(row, space-between, center);
            position: relative;
            margin-top: 20px;
            flex-wrap: wrap;
        
            #cardapio {
                @include box(100px, 215px);
                @include display-flex(row, space-between, center);
                position: relative;
                
                input {
                    display: none;
                }
                
                input:checked~label .menu {
                    height: 500px;
                    width: 420px;
                    transition: .5s;
                }
                
                input:checked~label .hamburger {
                    transform: rotate(45deg);
                }
                
                input:checked~label .hamburger:after {
                    transform: rotate(90deg);
                    bottom: 0;
                }
                
                input:checked~label .hamburger:before {
                    transform: rotate(90deg);
                    top: 0;
                }
                
                input:checked~ul {
                    opacity: 1;
                    visibility: visible;
                }
                
                .menu {
                    background-color: $neutra;
                    border-radius: 4px;
                    cursor: pointer;
                    height: 50px;
                    position: absolute;
                    top: 27%;
                    width: 50px;
                    z-index: 2;
                    transition: .5s ease-in-out;

                    .hamburger {
                        position: relative;
                        top: 23px;
                        left: 10px;
                        width: 30px;
                        height: 2px;
                        background-color: $escura;
                        display: block;
                        transform-origin: center;
                        transition: .5s ease-in-out;                      
                    }

                    .hamburger:after, .hamburger:before {
                        background-color: $escura;
                        content: "";
                        display: block;
                        transition: .5s ease-in-out;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                    
                    .hamburger:before {
                        top: -10px;
                    }
                    
                    .hamburger:after {
                        bottom: -10px;
                    }
                }

                ul {
                    position: relative;
                    top: 395%;
                    left: 96%;
                    transform: translate(-50%, -50%);
                    font-size: map-get($size, grau4);
                    opacity: 0;
                    transition: .7s .1s;
                    visibility: hidden;
                    z-index: 2;
                    @include display-flex(column, center, flex-start);
                    gap: 30px;

                    li {
                        color: $alaranjado;
                        transition: .2s;
                        text-transform: uppercase;
                        cursor: pointer;
    
                        &:hover {
                            filter: brightness(140%);
                            transform: scale(1.1);
                            transition: .3s;
                        }
                    }
                }

                span {
                    font-size: map-get($size, grau7);
                    font-weight: map-get($densidade, bold);
                    color: $escura;
                    text-transform: uppercase;
                    position: absolute;
                    right: 0;
                }
            }
        
            #buscar {
                height: 100px;
                width: 460px;
                @include display-flex(row, space-between, center);
                margin-left: 15px;
                flex-wrap: wrap;
        
                #search {
                    @include box(40px, 330px);
                    padding: 18px;
                    border-radius: 3px;
                    border: none;
                    padding: 5% 5%;
                    border-radius: 3rem;
                    color: $escura;
                    font-size: map-get($size, grau6);

                    &::placeholder {
                        color: $escura;
                    }
                }

                #pesquisar {
                    @include box(45px, 120px);
                    @include display-flex(row, center, center);
                    text-transform: uppercase;
                    color: $neutra;
                    background-color: $alaranjado;
                    border: none;
                    border-radius: 3rem;
                    cursor: pointer;
                    transition: .5s;
        
                    &:hover {
                        filter: brightness(110%);
                        transition: .5s;
                        transform: scale(1.1);
                    }
                }
            }
        }

        #produtos {
            @include box(auto, 100%);
            @include display-flex(row, space-between, flex-start);
            flex-wrap: wrap;
            min-height: 1600px;
            overflow: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            gap: 20px;
        }
    }
}

.cards {
    @include box(520px, 430px);
    @include display-flex(column, space-between, center);
    background-color: $escura;
    padding: 15px;
    border-radius: 5px;
    
    .card-foto {
        width: 100%;
        flex-grow: 1;
        margin-bottom: 10px;

        img {
            @include box(100%, 100%);
            border-radius: 5px;
        }
    }

    .card-nome {
        @include box(45px, 100%);
        @include display-flex(row, flex-start, center);

        h3 {
            color: $alaranjado;
            font-size: map-get($size, grau4);
            font-weight: map-get($densidade, bold);
        }
    }

    .card-descricao {
        @include box(100px, 100%);
        @include display-flex(row, flex-start, center);

        p {
            color: $neutra;
            font-size: map-get($size, grau6);
            font-weight: map-get($densidade, regular);
        }
    }

    .informacoes {
        @include box(50px, 100%);
        @include display-flex(row, space-between, center);
        position: relative;

        button {
            @include box(40px, 140px);
            font-size: map-get($size, grau5);
            text-transform: uppercase;
            background-color: $alaranjado;
            color: $neutra;
            border: none;
            border-radius: 0.2rem;
            transition: .5s;
            cursor: pointer;

            &:hover {
                filter: brightness(110%);
                transition: .5s;
                transform: scale(1.1); 
            }
        }

        i {
            @include box(15px, 70px);
            @include display-flex(row, center, center);
            position: absolute;
            right: 0;
            align-self: flex-start;
            color: $amarelado;
            font-size: map-get($size, grau5);
            text-decoration: line-through;
            top: -6px;
        }

        span {
            color: $alaranjado;
            font-size: map-get($size, grau7);
        }
    }
}

#empresa {
    min-height: 600px;
    width: 100%;
    @include display-flex(row, center, center);
    background-color: $escura;

    .itens-empresa {
        @include display-flex(row, space-between, center);
        flex-wrap: wrap;

        img {
            @include box(29rem, 33rem);
            border-radius: 8px;
        }

        #informacoes-empresa {
            height: 485px;
            width: 400px;
            @include display-flex(column, space-between, flex-start);
            margin-left: 24px;

            h2 {
                font-size: map-get($size, subTitulo);
                font-weight: map-get($densidade, medium);
                color: $alaranjado;
                text-align: center;
            }

            p {
                font-size: map-get($size, grau7);
                font-weight: map-get($densidade, regular);
                color: $neutra;
            }
        }
    }
}

.barra {
    @include box(400px, 100%);
    @include display-flex(column, center, center);
    gap: 10px;
    background: linear-gradient(135deg, #C7491E, #e6bb1f);
    margin-top: 5rem;
    margin-bottom: 5rem;

    .itens-barra {
        @include box(auto, auto);
        min-height: 200px;
        min-width: 200px;
        @include display-flex(column, center, center);
        position: relative;
    }

    h2 {
        font-size: map-get($size, titulo);
        font-weight: map-get($densidade, bold);

        text-transform: capitalize;
    }

    span {
        font-size: map-get($size, grau6);
        font-weight: map-get($densidade, medium);
    }

    img {
        @include box(4.6rem, 4.6rem);
        position: absolute;
        top: 0;
        right: 0;
    }
}

#promocoes {
    width: 100%;
    min-height: 600px;
    @include display-flex(row, center, center);
    background: linear-gradient(135deg, #C7491E, #e6bb1f);
    padding-bottom: 15px;

    .itens-promocoes {
        @include display-flex(row, space-between, center);
        flex-wrap: wrap;
    }

    .espaco {
        margin: 15px 15px 0px 0;
    }
}

#destaques {
    @include box(430px, 100%);
    @include display-flex(row, center, flex-start);
    background: linear-gradient(135deg, #C7491E, #e6bb1f);

    .itens-destaque {
        @include box(inherit, 100%);
        @include display-flex(column, space-between, center);

        h2 {
            height: 50px;
            color: $escura;
            font-size: map-get($size, subTitulo);
            font-weight: map-get($densidade, medium);
            border-bottom: 4px solid $neutra;
            margin-top: 20px;
        }
    }
}

footer {
    min-height: 475px;
    width: 100%;
    @include display-flex(column, center, center);
    margin-top: 5rem;
    background-color: $escura;

    .itens-footer {
        @include display-flex(row, space-between, flex-start);
        gap: 10px;

        .titulo-footer {
            color: $neutra;
            font-size: map-get($size, subTitulo);
            font-weight: map-get($densidade, bold);
            margin-top: 30px;
            text-transform: capitalize;
        }

        #lojas-footer {
            min-height: 475px;
            width: 436px;
            @include display-flex(column, flex-start, flex-start);
            gap: 20px;

            .unidade {
                @include box(auto, inherit);
                min-height: 50px;
                @include display-flex(column, space-between, flex-start);
                padding-left: 10px;
                padding-right: 10px;
                gap: 10px;

                span {
                    color: $alaranjado;
                    font-size: map-get($size, grau6);
                    font-weight: map-get($densidade, medium);
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .descricao {
                    @include display-flex(row, space-between, center);

                    img {
                        @include box(7rem, 7.2rem);
                        margin-right: 10px;
                        transition: .5s linear;
                        cursor: pointer;
                        border-radius: 6px;

                        &:hover {
                            transform: scale(1.1);
                            transition: .5s linear;
                        }
                    }

                    p {
                        color: $neutra;
                    }
                }
            }
        }

        #contatos-footer {
            @include box(inherit, 380px);
            @include display-flex(column, space-between, flex-start);

            form {
                @include box(235px, 100%);
                @include display-flex(column, flex-start, flex-end);
                margin-top: 20px;

                .caixa {
                    @include box(50px, 100%);
                    @include display-flex(row, flex-end, center);
                    gap: 15px;
                    position: relative;
                    padding-right: 10px;

                    .maiusculo {
                        text-transform: capitalize;
                    }

                    label {
                        color: $neutra;
                        font-weight: map-get($densidade, medium);
                        font-size: map-get($size, grau6);
                    }

                    .icon-input-footer {
                        position: relative;
                        left: 40px;
                    }

                    input {
                        width: 55%;
                        height: 40px;
                        border-radius: 8px;
                        outline: none;
                        border: 2px solid #c4c4c4;
                        padding: 0 30px;
                        box-shadow: $box-shadow;
                        font-size: map-get($size, grau5);
                    }

                    input:focus {
                        border: 2px solid $alaranjado;
                    }
                }

                #button-footer {
                    @include box(85px, 100%);
                    @include display-flex(row, flex-end, center);
                    padding-right: 10px;

                    input {
                        width: 35%;
                        height: 45px;
                        background-color: $alaranjado;
                        border: 2px solid $alaranjado;
                        border-radius: 8px;
                        color: #fff;
                        font-size: 20px;
                        cursor: pointer;
                        box-shadow: $box-shadow;
                        transition: 0.5s;

                        &:hover {
                            filter: brightness(110%);
                            transition: .5s;
                            transform: scale(1.1); 
                        }
                    }
                }
            }

            #galeria-contatos-footer {
                flex-grow: 1;
                width: 280px;
                @include display-flex(row, space-around, center);
                margin: auto;

                img {
                    @include box(1.7rem, 1.7rem);
                    cursor: pointer;

                    &:hover {
                        filter: brightness(130%);
                    }
                }
            }
        }
    }

    #criador-footer {
        @include box(60px, 100%);
        @include display-flex(row, center, center);
        margin-top: 25px;
        background-color: #2c2c2c;

        span {
            color: $neutra;
        }
    }
}

/* Quebra para Desktop */
@media (max-width: 1340px) {

    #nav {
        width: 480px;

        ul {

            li {
                font-size: map-get($size, grau5);
            }

        }
    }

    #logo {

        img {
            @include box(6.2rem, 6.3rem);
        }

        h1 {
            font-size: map-get($size, subTitulo);
        }

    }

    #empresa {

        .itens-empresa {
            @include display-flex(column, flex-start, center);

            img {
                @include box(25rem, 30rem);
                margin-top: 25px;
            }

            #informacoes-empresa {
                margin-bottom: 25px;
                
                h2 {
                    margin-top: 25px;
                }

                p {
                    font-size: map-get($size, grau9);
                }

            }
        }

    }

    main {

        .itens-main {

            #produtos {
                @include display-flex(row, center, flex-start);
            }

        }

    }

    #promocoes {

        .itens-promocoes {
            @include display-flex(row, center, flex-start);
        }

    }
    
}

/* Quebra para Tablet */
@media (max-width: 1259px) {

    #nav {
        width: 435px;
    }

    footer {

        .itens-footer {
            flex-wrap: wrap;
            @include display-flex(column, flex-start, center);       
            
            #contatos-footer {
                margin-top: 8px;
            }

        }

    }

    main {

        .itens-main {

            #filtragem {
                @include display-flex(column, center, center);
            }

        }

    }
    
}

/* Quebra para Mobile */
@media (max-width: 648px) {

    header {
        height: 80px;
    }

    #conteudo-midia {
        height: 25px;
    }
    
    #contatos {
        width: 250px;

        .midia {
            @include box(0.9rem, 0.9rem);
        }

        #telefone {
            width: 115px;

            span {
                font-size: map-get($size, grau8);
            }
        }

        #hora {
            display: none;
        }
    }

    #redes-sociais {
        width: 90px;

        img {
            @include box(1.2rem, 1.2rem);
        }
    }

    #logo {

        img {
            @include box(3.2rem, 3.3rem);
        }

        h1 {
            font-size: map-get($size, grau6);
        }

    }

    main {

        .itens-main {

            #filtragem {
                width: 230px;
                @include display-flex(column, flex-start, flex-start);

                #cardapio {
                    width: 180px;
                }

            }

        }

    }

    main .itens-main #filtragem #cardapio input:checked ~ label .menu {
        @include box(340px, 220px);
    }

    main .itens-main #filtragem #cardapio .menu {
        @include box(40px, 40px);
    }

    main .itens-main #filtragem #cardapio .menu .hamburger {
        top: 19px;
        left: 5px;
    }

    main .itens-main #filtragem #cardapio ul {
        top: 293%;
        left: 56%;
        font-size: map-get($size, grau9);
    }

    main .itens-main #filtragem #buscar {
        width: inherit;
        margin-left: 0;
        @include display-flex(column, flex-start, center);
        gap: 8px;

        #search {
            width: inherit;
            font-size: .8rem;
        }

        #pesquisar {
            @include box(40px, 90px);
        }
    }

    main .itens-main #filtragem #cardapio span {
        font-size: map-get($size, grau6);
    }

    .cards {
        @include box(420px, 210px);

        .card-nome {
            height: 30px;

            h3 {
                font-size: map-get($size, grau6);
            }
        }

        .card-descricao {
            height: 90px;

            p {
                font-size: .7rem;
            }
        }

        .informacoes {

            button {
                @include box(35px, 100px);
                font-size: map-get($size, grau8);
            }

            i {
                font-size: .7rem;
            }

            span {
                font-size: map-get($size, grau6);
            }

        }
    }

    #empresa {

        .itens-empresa {
            @include display-flex(column, center, center);

            img {
                @include box(10rem, 10rem);
            }

            #informacoes-empresa {
                width: 220px;
                height: 355px;
                @include display-flex(column, flex-start, flex-start);
                gap: 25px;
                margin-left: 0;

                h2 {
                    font-size: map-get($size, grau7);
                }

                p {
                    font-size: .8rem;
                }

            }

        }

    }

    .barra {
        height: 250px;

        h2 {
            font-size: map-get($size, subTitulo);
        }

        span {
            font-size: map-get($size, grau5);
            text-align: center;
        }

        img {
            @include box(3rem, 3rem);
            top: 18px;
            right: 20px;
        }

    }

    #destaques {
        height: 370px;

        .itens-destaque {

            h2 {
                height: 30px;
                font-size: map-get($size, grau7);
            }

        }

    }

    .owl {
        height: 300px;
    }

    .owl-track {
        width: calc(250px * 15);
        animation: scroll 25s linear infinite;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(calc(-250px * 13.50));
        }
    }

    .owl-img {
        @include box(250px, 250px);
        padding: 10px;

        img {
            @include box(100%, 100%);
        }
    }

    .owl::before,
    .owl::after {
        width: 6%;
    }

    footer {

        .itens-footer {
            @include display-flex(column, flex-start, flex-start);

            .titulo-footer {
                font-size: map-get($size, grau7);
            }

            #lojas-footer {
                width: 220px;

                .unidade {

                    span {
                        font-size: map-get($size, grau5);
                    }

                    .descricao {
    
                        img {
                            @include box(5.4rem, 5.4rem);
                        }
    
                        p {
                            font-size: .6rem;
                        }
    
                    }

                }
            }

            #contatos-footer {
                width: 230px;

                form {
                    width: 230px;
                    @include display-flex(column, flex-start, flex-start);

                    .caixa {
                        width: 230px;
                        
                        label {
                            font-size: map-get($size, grau5);
                        }

                        input {
                            height: 35px;
                            width: 135px;
                            padding: 0 10px;
                            font-size: map-get($size, grau8);
                        }

                        .icon-input-footer {
                            display: none;
                        }

                    }

                    #button-footer {
                        
                        input {
                            width: 100px;
                            height: 40px;
                            font-size: .9rem;
                        }

                    }
                }

                #galeria-contatos-footer {
                    width: inherit;
                    height: 40px;

                    img {
                        @include box(1.5rem, 1.5rem);
                    }
                }

            }

        }

        #criador-footer {

            span {
                font-size: map-get($size, grau5);
            }

        }

    }

    [data-anime="right"] {
        transform: translate3d(20px, 0, 0);
    }

    [data-anime="left"] {
        transform: translate3d(-20px, 0, 0);
    }
    
}

/* Menu drop */
@media (max-width: 1072px) {

    #nav {
        display: none;
    }
    
}