* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  line-height: 1.5;
}

input:focus {
  border: 0.125rem solid #C7491E;
}

body {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.65vw;
}

body::-webkit-scrollbar-track {
  background: #161616;
}

body::-webkit-scrollbar-thumb {
  background-color: #C7491E;
  border-radius: 1.25rem;
  border: 0.188rem solid #C7491E;
}

header {
  height: 20.25vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: fixed;
}

#container-midia {
  height: 4.77vh;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contatos {
  height: inherit;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contatos .midia {
  height: 1.25rem;
  width: 1.25rem;
  color: #C7491E;
}

#contatos #telefone {
  height: inherit;
  width: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contatos #telefone span {
  font-size: 0.9rem;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

#contatos #telefone span:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

#contatos #hora {
  height: inherit;
  width: 199px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contatos #hora span {
  font-size: 0.9rem;
  color: #FFF;
  font-weight: bold;
  cursor: default;
}

#contatos #hora span:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

#redes-sociais {
  height: inherit;
  width: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#redes-sociais .img {
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;
}

#redes-sociais .img:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.container {
  height: inherit;
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  min-height: 50px;
  min-width: 50px;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo img {
  height: 6.875rem;
  width: 7.188rem;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#logo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#logo h1 {
  font-family: 'Righteous', cursive;
  font-size: 2.4rem;
  color: #FFF;
  letter-spacing: 1px;
  margin-left: 0.5rem;
}

#navigation {
  height: 130px;
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#navigation ul {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navigation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.045rem;
  text-transform: uppercase;
}

#navigation ul li a {
  color: #FFF;
}

#navigation ul li a:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

#slider {
  height: 80vw;
  width: 100%;
  max-width: 100vw;
  max-height: 937px;
  position: absolute;
}

#slider img {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 900ms;
  transition: opacity 900ms;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

#slider img.selected {
  opacity: 1;
}
/*# sourceMappingURL=estilo.css.map */