@import '../sass/variables';
@import '../sass/mixin';
@import '../sass/resert';
@import '../sass/bodyDefault';
@import '../sass/slide';

header {
    @include box(170px, 100%);
    @include display-flex(column, space-between, center);
    z-index: 2;
    position: fixed;
}

#conteudo-midia {
    @include box(40px, 1400px);
    @include display-flex(row, space-between, center);
}

#contatos {
    @include box(inherit, 400px);
    @include display-flex(row, space-between, flex-start);

    .midia {
        @include box(1.25rem, 1.25rem);
        color: $alaranjado;
    }

    #telefone {

        @include box(inherit, 151px);
        @include display-flex(row, space-between, center);

        span {
            font-size: map-get($size, grau5);
            color: $neutra;
            font-weight: map-get($densidade, extraBold);
            cursor: pointer;

            &:hover {
                filter: brightness(80%);
            }
        }
    }

    #hora {
        @include box(inherit, 199px);
        @include display-flex(row, space-between, center);

        span {
            font-size: map-get($size, grau5);
            color: $neutra;
            font-weight: map-get($densidade, extraBold);
            cursor: default;

            &:hover {
                filter: brightness(80%);
            }
        }
    }
}

#redes-sociais {
    @include box(inherit, 133px);
    @include display-flex(row, space-between, center);

    img {
        @include box(1.8rem, 1.8rem);
        cursor: pointer;
        color: $neutra;

        &:hover {
            filter: brightness(80%);
        }
    }
}

.conteudo {
    width: 1300px;
}

.itens-header {
    height: 130px;
    @include display-flex(row, space-between, center);
}

#logo {
    min-height: 50px;
    min-width: 50px;
    width: auto;
    height: auto;
    @include display-flex(row, flex-start, center);

    img {
        @include box(6.875rem, 7.188rem);
        border-radius: 50%;
        transition: 0.5s;
        box-shadow: $box-shadow;
        cursor: pointer;
        filter: brightness(110%);

        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
    }

    h1 {
        font-family: 'Righteous', cursive;
        font-size: map-get($size, titulo);
        color: $neutra;
        letter-spacing: 1px;
        margin-left: 0.5rem;
    }
}

#nav {
    @include box(130px, 550px);
    @include display-flex(row, flex-start, flex-start);

    ul {
        @include box(inherit, inherit);
        @include display-flex(row, space-between, center);

        li {
            @include display-flex(row, space-between, center);
            font-size: map-get($size, grau3);
            text-transform: uppercase;

            a {
                color: $neutra;
                text-decoration: none;

                &:hover {
                    filter: brightness(80%);
                }
            }
        }
    }
}

main {
    @include box(1000px, 100%);
    @include display-flex(column, flex-start, center);
    background-color: #161616;

    .itens-main {
        height: inherit;
        @include display-flex(column, space-between, flex-start);

        #filtragem {
            @include box(100px, 100%);
            @include display-flex(row, space-between, center);
        
            #cardapio {
                @include box(inherit, auto);
                min-width: 50px;
                @include display-flex(row, space-between, center);
        
                img {
                    @include box(2rem, 2rem);
                    cursor: pointer;
                }
            }
        
            #buscar {
                @include box(inherit, auto);
                min-width: 300px;
                @include display-flex(row, space-between, center);
        
                #pesquisa {
                    @include box(inherit, 380px);
                    @include display-flex(row, space-between, center);
                    position: relative;
        
                    #serarch {
                        @include box(40px, 350px);
                        padding: 8px;
                        border-radius: 3px;
                        border: 1px solid $alaranjado;
                        color: $escura;
                        font-size: map-get($size, span);
                    }

                    #submit {
                        @include box(40px, 120px);
                        @include display-flex(row, center, center);
                        text-transform: uppercase;
                        color: white;
                        background-color: $alaranjado;
                        border-radius: 4px;
                        border: 1px solid $alaranjado;
                        box-shadow: $box-shadow;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
            
                        &:hover {
                            filter: brightness(110%);
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }
}