@import 'variables';
@import 'mixin';
@import 'resert';
@import 'bodyDefault';
@import 'slide';
@import 'scrollAnimation';
@import 'owlCarrousel';
@import 'responsividade';

.conteudo {
    @include tamanho(inherit, 71vw);
}

.headerGradientt {
    background-color: $escura;
    transition: 0.5s linear;
}

header {
    @include tamanho(170px, 100vw);
    @include displayFlex(column, space-between, center);
    z-index: 999;
    position: fixed;
    transition: 0.5s linear;

    #conteudo-midia {
        @include tamanho(40px, 73vw);
        @include displayFlex(row, space-between, center);

        #contatos {
            @include tamanho(inherit, 400px);
            @include displayFlex(row, space-between, flex-start);
        
            .midia {
                @include tamanho(1.25rem, 1.25rem);
                color: $alaranjado;
            }
        
            #telefone {
                @include tamanho(inherit, 151px);
                @include displayFlex(row, space-between, center);
                margin-right: 15px;
        
                span {
                    @include textoEstilo(grau5, extraBold, $neutra);
                    cursor: pointer;
        
                    &:hover {
                        filter: brightness(80%);
                    }
                }
            }
        
            #hora {
                @include tamanho(inherit, 199px);
                @include displayFlex(row, space-between, center);
        
                span {
                    @include textoEstilo(grau5, extraBold, $neutra);
                    cursor: default;
        
                    &:hover {
                        filter: brightness(80%);
                    }
                }
            }
        }
        
        #redes-sociais {
            @include tamanho(inherit, 133px);
            @include displayFlex(row, space-between, center);
            margin-left: 20px;
        
            img {
                @include tamanho(1.8rem, 1.8rem);
                cursor: pointer;
                color: $neutra;
        
                &:hover {
                    filter: brightness(80%);
                }
            }
        }
    }

    #itens-header {
        @extend .conteudo;
        @include displayFlex(row, space-between, center);

        #logo {
            min-height: 50px;
            min-width: 50px;
            @include tamanho(auto, auto);
            @include displayFlex(row, flex-start, center);
        
            img {
                @include tamanho(6.875rem, 7.188rem);
                border-radius: 50%;
                transition: 0.5s;
                box-shadow: $boxShadow;
                cursor: pointer;
                filter: brightness(110%);
        
                &:hover {
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
        
            h1 {
                @include textoEstilo(titulo, bold, $neutra, $letter: 1px);
                margin-left: 0.5rem;
            }
        }
        
        #nav {
            @include tamanho(130px, 550px);
            @include displayFlex(row, flex-start, flex-start);
        
            ul {
                @include tamanho(inherit, inherit);
                @include displayFlex(row, space-between, center);
        
                li {
                    @include displayFlex(row, space-between, center);
                    @include textoEstilo($negrito: medium, $case: uppercase);
        
                    a {
                        color: $neutra;
        
                        &:hover {
                            filter: brightness(80%);
                        }
                    }
                }
            }
        }
    }
}

main {
    width: 100%;
    min-height: 300px;
    @include displayFlex(column, flex-start, center);
    background: $Gradientt;
    padding-bottom: 20px;
    padding-top: 20px;

    #itens-main {
        @extend .conteudo;
        @include displayFlex(column, flex-start, flex-start);

        #filtragem {
            min-height: 100px;
            width: 100%;
            @include displayFlex(row, space-between, center);
            position: relative;
            flex-wrap: wrap;
        
            #cardapio {
                @include tamanho(100px, 215px);
                @include displayFlex(row, space-between, center);
                position: relative;
                
                input {
                    display: none;
                }
                
                input:checked~label .menu {
                    height: 500px;
                    width: 420px;
                    transition: .5s;
                }
                
                input:checked~label .hamburger {
                    transform: rotate(45deg);
                }
                
                input:checked~label .hamburger:after {
                    transform: rotate(90deg);
                    bottom: 0;
                }
                
                input:checked~label .hamburger:before {
                    transform: rotate(90deg);
                    top: 0;
                }
                
                input:checked~ul {
                    opacity: 1;
                    visibility: visible;
                }
                
                .menu {
                    background-color: $neutra;
                    border-radius: 4px;
                    cursor: pointer;
                    height: 50px;
                    position: absolute;
                    top: 27%;
                    width: 50px;
                    z-index: 2;
                    transition: .5s ease-in-out;

                    .hamburger {
                        position: relative;
                        top: 23px;
                        left: 10px;
                        width: 30px;
                        height: 2px;
                        background-color: $escura;
                        display: block;
                        transform-origin: center;
                        transition: .5s ease-in-out;                      
                    }

                    .hamburger:after, .hamburger:before {
                        background-color: $escura;
                        content: "";
                        display: block;
                        transition: .5s ease-in-out;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                    
                    .hamburger:before {
                        top: -10px;
                    }
                    
                    .hamburger:after {
                        bottom: -10px;
                    }
                }

                ul {
                    @include displayFlex(column, center, flex-start);
                    gap: 30px;
                    position: relative;
                    top: 395%;
                    left: 96%;
                    transform: translate(-50%, -50%);
                    font-size: map-get($size, grau4);
                    opacity: 0;
                    transition: .7s .1s;
                    visibility: hidden;
                    z-index: 2;

                    li {
                        color: $alaranjado;
                        transition: .2s;
                        text-transform: uppercase;
                        cursor: pointer;
    
                        &:hover {
                            filter: brightness(140%);
                            transform: scale(1.1);
                            transition: .3s;
                        }
                    }
                }

                span {
                    @include textoEstilo(grau7, bold, $escura, uppercase);
                    position: absolute;
                    right: 0;
                }
            }
        
            #buscar {
                @include tamanho(100px, 460px);
                @include displayFlex(row, space-between, center);
                margin-left: 15px;
                flex-wrap: wrap;
                position: relative;
        
                #search {
                    @include tamanho(40px, 330px);
                    @include textoEstilo(grau6, bold, $neutra);
                    border: 2px solid $neutra;
                    padding: 5% 8%;
                    border-radius: 3rem;
                    background-color: transparent;

                    &::placeholder {
                        @include textoEstilo($negrito: extraBold, $cor: $neutra);
                    }

                    &:focus {
                        border: 2px solid $amarelado;
                    }
                }

                img {
                    @include tamanho(1.2rem, 1.2rem);
                    left: 14px;
                    position: absolute;
                }
                
                #pesquisar {
                    @include tamanho(45px, 120px);
                    @include displayFlex(row, center, center);
                    @include textoEstilo(0.9rem, $cor: $neutra, $case: uppercase);
                    background-color: $alaranjado;
                    border: 2px solid $amarelado;
                    border-radius: .8rem;
                    cursor: pointer;
                    transition: .5s;
        
                    &:hover {
                        filter: brightness(110%);
                        transition: .5s;
                        transform: scale(1.1);
                    }
                }
            }

            
        }

        #erro {
            @include textoEstilo(grau7, medium, rgb(22, 21, 21), capitalize);
            display: block;
            align-self: center;
            text-align: center;
        }
        
        #produtos {
            @include tamanho(auto, 100%);
            @include displayFlex(row, space-between, flex-start);
            flex-wrap: wrap;
            min-height: 400px;
            overflow: auto;
            margin-top: 20px;
            gap: 20px;
        }
    }
}

.cards {
    @include tamanho(520px, 430px);
    @include displayFlex(column, space-between, center);
    background-color: $escura;
    padding: 15px;
    border-radius: 5px;
    
    .card-foto {
        width: 100%;
        flex-grow: 1;
        margin-bottom: 10px;

        img {
            @include tamanho(100%, 100%);
            border-radius: 5px;
        }
    }

    .card-nome {
        @include tamanho(45px, 100%);
        @include displayFlex(row, flex-start, center);

        h3 {
            @include textoEstilo(grau4, bold, $alaranjado, capitalize);
        }
    }

    .card-descricao {
        @include tamanho(100px, 100%);
        @include displayFlex(row, flex-start, center);

        p {
            @include textoEstilo(grau6, regular, $neutra);
        }
    }

    .informacoes {
        @include tamanho(50px, 100%);
        @include displayFlex(row, space-between, center);
        position: relative;

        button {
            @include tamanho(40px, 140px);
            @include textoEstilo(grau5, bold, $neutra, uppercase);
            background-color: $alaranjado;
            border: none;
            border-radius: 0.2rem;
            transition: .5s;
            cursor: pointer;

            &:hover {
                filter: brightness(110%);
                transition: .5s;
                transform: scale(1.1); 
            }
        }

        i {
            @include tamanho(15px, 70px);
            @include displayFlex(row, center, center);
            @include textoEstilo(grau5, $cor: $amarelado);
            position: absolute;
            right: 0;
            align-self: flex-start;
            text-decoration: line-through;
            top: -6px;
        }

        span {
            @include textoEstilo(grau7, $cor: $alaranjado);
        }
    }
}

#empresa {
    min-height: 600px;
    width: 100%;
    @include displayFlex(row, center, center);
    background-color: $escura;

    #itens-empresa {
        @extend .conteudo;
        @include displayFlex(row, space-between, center);
        flex-wrap: wrap;

        img {
            @include tamanho(29rem, 33rem);
            border-radius: 8px;
        }

        #informacoes-empresa {
            height: 485px;
            width: 400px;
            @include displayFlex(column, space-between, flex-start);
            margin-left: 24px;

            h2 {
                @include textoEstilo(subTitulo, medium, $alaranjado);
                text-align: center;
            }

            p {
                @include textoEstilo(grau7, regular, $neutra);
            }
        }
    }
}

.barra {
    @include tamanho(400px, 100%);
    @include displayFlex(column, center, center);
    gap: 10px;
    background: $Gradientt;
    margin-top: 5rem;
    margin-bottom: 5rem;

    .itens-barra {
        @include tamanho(auto, auto);
        min-height: 200px;
        min-width: 200px;
        @include displayFlex(column, center, center);
        position: relative;
    }

    h2 {
        @include textoEstilo(titulo, bold, $case: capitalize);
    }

    span {
        @include textoEstilo(grau6, medium);
    }

    img {
        @include tamanho(4.6rem, 4.6rem);
        position: absolute;
        top: 0;
        right: 0;
    }
}

#promocoes {
    width: 100%;
    min-height: 600px;
    @include displayFlex(row, center, center);
    background: $Gradientt;
    padding-bottom: 15px;

    #itens-promocoes {
        @extend .conteudo;
        @include displayFlex(row, space-between, center);
        flex-wrap: wrap;
    }

    .espaco {
        margin: 15px 15px 0px 0;
    }
}

#destaques {
    @include tamanho(430px, 100%);
    @include displayFlex(row, center, flex-start);
    background: $Gradientt;

    #itens-destaque {
        @include tamanho(inherit, 100%);
        @include displayFlex(column, space-between, center);

        h2 {
            @include textoEstilo(subTitulo, medium);
            height: 50px;
            border-bottom: 4px solid $neutra;
            margin-top: 20px;
        }
    }
}

footer {
    min-height: 475px;
    width: 100%;
    @include displayFlex(column, center, center);
    margin-top: 5rem;
    background-color: $escura;

    #itens-footer {
        @extend .conteudo;
        @include displayFlex(row, space-between, flex-start);
        gap: 10px;

        .titulo-footer {
            @include textoEstilo(subTitulo, bold, $neutra, capitalize);
            margin-top: 30px;
        }

        #lojas-footer {
            min-height: 475px;
            width: 436px;
            @include displayFlex(column, flex-start, flex-start);
            gap: 20px;

            .unidade {
                @include tamanho(auto, inherit);
                min-height: 50px;
                @include displayFlex(column, space-between, flex-start);
                padding-left: 10px;
                padding-right: 10px;
                gap: 10px;

                span {
                    @include textoEstilo(grau6, medium, $alaranjado);
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .descricao {
                    @include displayFlex(row, space-between, center);

                    img {
                        @include tamanho(7rem, 7.2rem);
                        margin-right: 10px;
                        transition: .5s linear;
                        cursor: pointer;
                        border-radius: 6px;

                        &:hover {
                            transform: scale(1.1);
                            transition: .5s linear;
                        }
                    }

                    p {
                        color: $neutra;
                    }
                }
            }
        }

        #contatos-footer {
            @include tamanho(inherit, 380px);
            @include displayFlex(column, space-between, flex-start);

            form {
                @include tamanho(235px, 100%);
                @include displayFlex(column, flex-start, flex-end);
                margin-top: 20px;

                .caixa {
                    @include tamanho(50px, 100%);
                    @include displayFlex(row, flex-end, center);
                    gap: 15px;
                    position: relative;
                    padding-right: 10px;

                    .maiusculo {
                        text-transform: capitalize;
                    }

                    label {
                        @include textoEstilo(grau6, medium, $neutra);
                    }

                    .icon-input-footer {
                        position: relative;
                        left: 40px;
                    }

                    input {
                        @include tamanho(40px, 55%);
                        border-radius: 8px;
                        outline: none;
                        border: 2px solid #c4c4c4;
                        padding: 0 30px;
                        box-shadow: $boxShadow;
                        font-size: map-get($size, grau5);
                    }

                    input:focus {
                        border: 2px solid $alaranjado;
                    }
                }

                #button-footer {
                    @include tamanho(85px, 100%);
                    @include displayFlex(row, flex-end, center);
                    padding-right: 10px;

                    input {
                        @include tamanho(45px, 35%);
                        @include textoEstilo(1.25rem, $cor: $neutra);
                        width: 35%;
                        height: 45px;
                        background-color: $alaranjado;
                        border: 2px solid $alaranjado;
                        border-radius: 8px;
                        cursor: pointer;
                        box-shadow: $boxShadow;
                        transition: 0.5s;

                        &:hover {
                            filter: brightness(110%);
                            transition: .5s;
                            transform: scale(1.1); 
                        }
                    }
                }
            }

            #galeria-contatos-footer {
                flex-grow: 1;
                width: 280px;
                @include displayFlex(row, space-around, center);
                margin: auto;

                img {
                    @include tamanho(1.7rem, 1.7rem);
                    cursor: pointer;

                    &:hover {
                        filter: brightness(130%);
                    }
                }
            }
        }
    }

    #criador-footer {
        @include tamanho(60px, 100%);
        @include displayFlex(row, center, center);
        margin-top: 25px;
        background-color: #2c2c2c;

        span {
            color: $neutra;
        }
    }
}