body {
    @include display-flex(column, space-between, flex-start);
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #C7491E, #e6bb1f);
}

body::-webkit-scrollbar {
    width: 0.45vw;
}
  
body::-webkit-scrollbar-track {
    background: $escura;
}
  
body::-webkit-scrollbar-thumb {
    background-color: $alaranjado;
    border-radius: 1.25rem;
    border: 0.188rem solid $alaranjado;
}