@import '../sass/variables';
@import '../sass/mixin';
@import '../sass/resert';
@import '../sass/bodyDefault';

header {
    @include box(150px, 100%);
    @include display-flex(row, center, flex-start);
    background-color: $escura;
}

.conteudo {
    @include box(inherit, 1400px);
    @include display-flex(row, space-between, center);
}

#titulo {
    @include box(inherit, auto);
    @include display-flex(column, center, flex-start);
    gap: 8px;
    min-width: 100px;

    h1 {
        color: $neutra;
        font-size: map-get($size, titulo);
        font-weight: map-get($densidade, medium);
        letter-spacing: 5px;

        i {
            font-size: map-get($size, subTitulo);
            font-weight: map-get($densidade, regular);
            text-transform: capitalize;
            font-style: normal;
            color: $alaranjado;
            font-family: 'Righteous', cursive;
            letter-spacing: normal;
        }
    }

    span {
        font-size: map-get($size, grau6);
        font-weight: map-get($densidade, bold);
        text-transform: capitalize;
        color: $neutra;
    }

}

#logo {
    @include box(inherit, auto);
    @include display-flex(column, center, center);
    min-width: 50px;

    img {
        @include box(125px, 125px);
        border-radius: 50%;
        transition: .5s linear;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: .5s linear;
        }
    }
}

#area-controle {
    @include box(100px, 100%);
    @include display-flex(row, center, flex-start);
    background: linear-gradient(135deg, #C7491E, #e6bb1f);

    #nav-controles {
        @include box(inherit, 780px);
        @include display-flex(row, space-between, center);

        .opcoes-nav-controles {
            @include display-flex(column, center, center);
            gap: 8px;

            a {
                color: $escura;
                font-weight: map-get($densidade, bold);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #logout {
        @include box(inherit, 200px);
        @include display-flex(column, space-around, center);

        span {
            color: $escura;
            font-size: map-get($size, grau6);
            font-weight: map-get($densidade, bold);
        }

        i {
            font-size: map-get($size, grau5);
            font-weight: map-get($densidade, extraBold);
            font-style: normal;

            a {
                color: $escura;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

main {
    @include box(572px, 100%);
    @include display-flex(column, center, center);
    background-color: $neutra;

   h2 {
       margin-top: 40px;
       font-size: map-get($size, subTitulo);
       text-transform: uppercase;
       border-bottom: 4px solid $alaranjado;
   }
}

footer {
    @include box(70px, 100%);
    @include display-flex(row, space-around, center);
    background-color: $escura;
    margin-top: 45px;

    #rodape-informacoes {
        @include box(inherit, auto);
        min-width: 50px;
        @include display-flex(column, center, center);

        span {
            color: $neutra;
            font-size: map-get($densidade, grau5);
        }

        i {
            color: $neutra;
            font-size: map-get($size, grau5);
            font-style: normal;
            text-transform: capitalize;
        }
    }

    #criador {
        @include box(inherit, auto);
        min-width: 50px;
        @include display-flex(column, center, center);

        h3 {
            color: $neutra;
            font-size: .8rem;
        }

        span {
            color: $neutra;
            font-size: .8rem;
        }
    }
}