// Paleta de cores
$alaranjado: #C7491E;
$amarelado: #e6bb1f;
$neutra: #FFF;
$escura: #1f1f1f;

// Tamanho da letra
$size: (
    
    "titulo": 2.4rem,
    "subTitulo": 1.9rem,
    "grau3": 1.045rem,
    "grau4": 1.5rem,
    "grau5": 0.9rem,
    "grau6": 1.1rem,
    "grau7": 1.3rem,
);

// Densidade da letra
$densidade: (
    
    "regular": 300,
    "medium": 400,
    "bold": 500,
    "extraBold": bold,

);

// Mixin de display flex padrão
@mixin display-flex($direction, $justify, $align) {
    
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;

}

// Mixin de height e width
@mixin box($altura, $largura) {
    
    height: $altura;
    width: $largura;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    line-height: 1.5;
}

input:focus {
    border: 0.125rem solid $alaranjado;
}

body {
    @include display-flex(column, space-between, flex-start);
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #C7491E, #e6bb1f);
}

body::-webkit-scrollbar {
    width: 0.45vw;
}
  
body::-webkit-scrollbar-track {
    background: $escura;
}
  
body::-webkit-scrollbar-thumb {
    background-color: $alaranjado;
    border-radius: 1.25rem;
    border: 0.188rem solid $alaranjado;
}

header {
    @include box(150px, 100%);
    @include display-flex(row, center, flex-start);
    background-color: $escura;
}

.conteudo {
    @include box(inherit, 1400px);
    @include display-flex(row, space-between, center);
}



#titulo {
    @include box(inherit, auto);
    @include display-flex(column, center, flex-start);
    gap: 8px;
    min-width: 100px;

    h1 {
        color: $neutra;
        font-size: map-get($size, titulo);
        font-weight: map-get($densidade, medium);
        letter-spacing: 5px;

        i {
            font-size: map-get($size, subTitulo);
            font-weight: map-get($densidade, regular);
            text-transform: capitalize;
            font-style: normal;
            color: $alaranjado;
            font-family: 'Righteous', cursive;
            letter-spacing: normal;
        }
    }

    span {
        font-size: map-get($size, grau6);
        font-weight: map-get($densidade, bold);
        text-transform: capitalize;
        color: $neutra;
    }

}

#logo {
    @include box(inherit, auto);
    @include display-flex(column, center, center);
    min-width: 50px;

    img {
        @include box(125px, 125px);
        border-radius: 50%;
        transition: .5s linear;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: .5s linear;
        }
    }
}

#area-controle {
    @include box(100px, 100%);
    @include display-flex(row, center, flex-start);

    #nav-controles {
        @include box(inherit, 535px);
        @include display-flex(row, space-between, center);

        .opcoes-nav-controles {
            @include display-flex(column, center, center);
            gap: 8px;

            a {
                color: $escura;
                font-weight: map-get($densidade, bold);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #logout {
        @include box(inherit, 200px);
        @include display-flex(column, space-around, center);

        span {
            color: $escura;
            font-size: map-get($size, grau6);
            font-weight: map-get($densidade, bold);
        }

        i {
            font-size: map-get($size, grau5);
            font-weight: map-get($densidade, extraBold);
            font-style: normal;

            a {
                color: $escura;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

main {
   @include box(900px, 100%);
   @include display-flex(column, flex-start, center);
   background-color: $neutra;

   h2 {
       margin-top: 35px;
       font-size: map-get($size, subTitulo);
       text-transform: uppercase;
       border-bottom: 4px solid $alaranjado;
   }
}

footer {
    @include box(70px, 100%);
    @include display-flex(row, space-around, center);
    background-color: $escura;

    #rodape-informacoes {
        @include box(inherit, auto);
        min-width: 50px;
        @include display-flex(column, center, center);

        span {
            color: $neutra;
            font-size: map-get($densidade, grau5);
        }

        i {
            color: $neutra;
            font-size: map-get($size, grau5);
            font-style: normal;
            text-transform: capitalize;
        }
    }

    #criador {
        @include box(inherit, auto);
        min-width: 50px;
        @include display-flex(column, center, center);

        h3 {
            color: $neutra;
            font-size: .8rem;
        }

        span {
            color: $neutra;
            font-size: .8rem;
        }
    }
}