@import '../sass/variables';
@import '../sass/mixin';

main {
    @include box(auto, 100%);
    min-height: 770px;
    @include display-flex(column, flex-start, center);
}

form {
    @include box(350px, 600px);
    @include display-flex(column, flex-start, center);
    background-color: $escura;
    margin-top: 40px;
    border-radius: 6px;
    position: relative;
    box-shadow: 10px 10px 10px #cccccc;

    img {
        @include box(40px, 40px);
    }

    #img1 {
        position: absolute;
        right: 12px;
        top: 12px;
    }

    #img2 {
        position: absolute;
        left: 12px;
        bottom: 12px;
    }

    #caixa {
        @include box(50px, 500px);
        @include display-flex(row, space-between, center);
        margin-top: 125px;
        gap: 15px;

        label {
            color: $neutra;
            font-weight: map-get($densidade, medium);
            font-size: map-get($size, grau4);     
            text-transform: capitalize;     
        } 

        .input-caixa-login {
            width: 250px;
            height: 40px;
            border-radius: 8px;
            border: 2px solid #c4c4c4;
            padding: 0 10px;
            font-size: map-get($size, grau5);

            
        }
        input:focus {
            border: 2px solid $alaranjado;
        }
    }

    #button {
        @include box(85px, 80%);
        @include display-flex(row, center, center);
        padding-right: 10px;
    
        input {
            width: 35%;
            height: 45px;
            background-color: $alaranjado;
            border: 2px solid $alaranjado;
            border-radius: 4px;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            transition: 0.5s;
    
            &:hover {
                filter: brightness(110%);
                transition: .5s;
                transform: scale(1.1);
            }
        }
    }
}

#consultaDeDados {
    @include box(auto, 700px);
    min-height: 200px;
    background-color: $escura;
    margin-top: 45px;
    box-shadow: 10px 10px 10px #cccccc;
    border-radius: 6px;
    padding: 10px;
}

#tblConsulta {
    width: 100%;
    min-height: 30px;
    height: auto;
}

#tblTitulo {
    @include box(60px, 100%);
    text-align: center;
    color: white;
    font-size: map-get($size, subTitulo);
    border-radius: 6px;
    font-weight: map-get($densidade, regular);
}

.tblLinhas {
    width: 100%;
    height: 50px;
}

.tblColunas {
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: $alaranjado;
    border-radius: 6px;
    border: solid 1px $escura;
    color: $neutra;
    font-size: map-get($size, grau7);

    img {
        @include box(28px, 28px);
        transition: .5s;
        filter: brightness(130%);
        margin-left: 8px;
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
            transition: .5s;
        }
    }
}

.destaque {
    font-weight: map-get($densidade, medium);
}