@import '../sass/variables';
@import '../sass/mixin';

main {
    @include box(auto, 100%);
    min-height: 572px;
    @include display-flex(column, center, center);
}

#consultaDeDados {
    @include box(auto, 1000px);
    min-height: 200px;
    background-color: $escura;
    margin-top: 70px;
    box-shadow: 10px 10px 10px #cccccc;
    border-radius: 6px;
    padding: 10px;
}

#tblConsulta {
    width: 100%;
    min-height: 30px;
    height: auto;
}

#tblTitulo {
    @include box(60px, 100%);
    text-align: center;
    color: white;
    font-size: map-get($size, subTitulo);
    border-radius: 6px;
    font-weight: map-get($densidade, regular);
}

.tblLinhas {
    width: 100%;
    height: 50px;
}

.tblColunas {
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: $alaranjado;
    border-radius: 6px;
    border: solid 1px $escura;
    color: $neutra;
    font-size: map-get($size, grau7);

    img {
        @include box(28px, 28px);
        transition: .5s;
        filter: brightness(130%);
        margin-left: 8px;
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
            transition: .5s;
        }
    }
}

.destaque {
    font-weight: map-get($densidade, medium);
}