* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p {
  line-height: 1.5;
}

input:focus {
  border: 0.125rem solid #C7491E;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #C7491E, #e6bb1f);
}

#caixa {
  height: 450px;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  border-radius: 9px;
  -webkit-box-shadow: 10px 10px 10px #1f1f1f;
          box-shadow: 10px 10px 10px #1f1f1f;
}

#caixa #titulo-login {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 15px;
}

#caixa #titulo-login h1 {
  color: #1f1f1f;
  font-size: 2.4rem;
  font-weight: 500;
}

#caixa #titulo-login h2 {
  font-size: 1.9rem;
  font-weight: 300;
  color: #C7491E;
  font-family: 'Righteous', cursive;
}

#caixa form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#caixa form .label-float {
  position: relative;
  padding-top: 13px;
  width: 300px;
}

#caixa form .icon-input-footer {
  position: absolute;
  top: 35px;
  left: 10px;
  font-size: 1.2rem;
}

#caixa form .label-float input {
  border: 2px solid #1f1f1f;
  border-radius: 8px;
  outline: none;
  width: inherit;
  padding: 15px 35px;
  font-size: 1.5rem;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance: none;
}

#caixa form .label-float input:focus {
  border: 2px solid #3951b2;
}

#caixa form .label-float input::-webkit-input-placeholder {
  color: transparent;
}

#caixa form .label-float input:-ms-input-placeholder {
  color: transparent;
}

#caixa form .label-float input::-ms-input-placeholder {
  color: transparent;
}

#caixa form .label-float input::placeholder {
  color: transparent;
}

#caixa form .label-float label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 35px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

#caixa form .label-float input:required:invalid + label {
  color: red;
}

#caixa form .label-float input:focus:required:invalid {
  border: 2px solid red;
}

#caixa form .label-float input:required:invalid + label:before {
  content: '*';
  margin-right: 3px;
}

#caixa form .label-float input:focus + label,
#caixa form .label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  top: 0;
  color: #3951b2;
}

#caixa form #button {
  height: 85px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

#caixa form #button input {
  width: 35%;
  height: 45px;
  background-color: #C7491E;
  border: 2px solid #C7491E;
  border-radius: 4px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#caixa form #button input:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=login.css.map */