@import '../sass/variables';
@import '../sass/mixin';

main {
    @include box(auto, 100%);
    min-height: 770px;
    @include display-flex(column, flex-start, center);
}

form {
    @include box(725px, 630px);
    @include display-flex(row, center, center);
    background-color: $escura;
    margin-top: 40px;
    border-radius: 6px;
    position: relative;
    box-shadow: 10px 10px 10px #cccccc;

    img {
        @include box(40px, 40px);
    }

    #img1 {
        position: absolute;
        right: 12px;
        top: 12px;
    }

    #img2 {
        position: absolute;
        left: 12px;
        bottom: 12px;
    }

    #container-form {
        min-height: 500px;
        width: 100%;
        @include display-flex(column, center, center);
        // background-color: $vermelho;
        gap: 20px;
        margin-top: 25px;

        .caixa-qtde {
            @include box(50px, 310px);
            @include display-flex(row, space-between, center);

            label {
                color: $neutra;
                font-weight: map-get($densidade, medium);
                font-size: map-get($size, grau4);     
                text-transform: capitalize;     
            }

            span {
                color: $vermelho;
                font-weight: map-get($densidade, medium);
                font-size: map-get($size, grau4);
            }
        }

        .caixa {
            @include box(50px, 365px);
            @include display-flex(row, space-between, center);

            .arquivo {
                display: none;
            }
    
            .file {
                line-height: 30px;
                height: 40px;
                padding: 5px;
                font-size: 0.9rem;
                vertical-align: middle;
                width: 300px;
                border-radius: 8px;
                border: 2px solid #c4c4c4;
            }
            
            .btn {
                border: none;
                box-sizing: border-box;
                padding: 2px 10px;
                background-color: $alaranjado;
                color: #FFF;
                height: 40px;
                font-size: 15px;
                vertical-align: middle;
                border-radius: 4px;
                margin-left: 10px;
                cursor: pointer;
                transition: .5s;
    
                &:hover {
                    filter: brightness(110%);
                    transition: .5s;
                    transform: scale(1.1);
                }
            }

            #visualizar-imagem {
                position: relative;
                left: 15px;
                top: -5px;

                img {
                    @include box(95px, 95px);
                    border-radius: 4px;
                    border: 2px solid $neutra;
                }
            }
    
            label {
                color: $neutra;
                font-weight: map-get($densidade, medium);
                font-size: map-get($size, grau4);     
                text-transform: capitalize;     
            } 
    
            .centro {
                margin: auto;
            }
    
            .input-caixa-login {
                width: 210px;
                height: 40px;
                border-radius: 8px;
                border: 2px solid #c4c4c4;
                padding: 0 10px;
                font-size: map-get($size, grau5);

                &:focus {
                    border: 2px solid $alaranjado; 
                }
            }
        }

        #caixa-textarea {
            @include box(100px, 408px);
            @include display-flex(row, flex-start, center);

            textarea {
                height: 100px;
                width: 265px;
                border-radius: 8px;
                font-weight: map-get($densidade, medium);
                font-size: map-get($size, grau5);     
                text-transform: capitalize;
                resize: none;
                padding: 8px;
                margin-left: 40px;
                border: 2px solid #c4c4c4;
                text-transform: none;
                
                &:focus {
                    border: 2px solid $alaranjado; 
                }
            }
    
            label {
                color: $neutra;
                font-weight: map-get($densidade, medium);
                font-size: map-get($size, grau4);     
                text-transform: capitalize;     
            }
        }
    
        #caixa-select {
            @include box(50px, 300px);
            @include display-flex(row, space-between, center);
    
            label {
                color: $neutra;
                font-weight: map-get($densidade, medium);
                font-size: map-get($size, grau4);     
                text-transform: capitalize;     
            }
    
            select {
                @include box(40px, 165px);
                border: none;
                border-radius: 3px;
                font-size: map-get($size, grau5);
            }
        }
    
        #button {
            @include box(85px, 80%);
            @include display-flex(row, center, center);
            padding-right: 10px;
        
            input {
                width: 35%;
                height: 45px;
                background-color: $alaranjado;
                border: 2px solid $alaranjado;
                border-radius: 4px;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                transition: 0.5s;
        
                &:hover {
                    filter: brightness(110%);
                    transition: .5s;
                    transform: scale(1.1);
                }
            }
        }
    }
}

#consultaDeDados {
    @include box(auto, 1400px);
    min-height: 200px;
    background-color: $escura;
    margin-top: 70px;
    box-shadow: 10px 10px 10px #cccccc;
    border-radius: 6px;
    padding: 10px;
}

#tblConsulta {
    width: 100%;
    min-height: 50px;
    height: auto;
}

#tblTitulo {
    @include box(60px, 100%);
    text-align: center;
    color: white;
    font-size: map-get($size, subTitulo);
    border-radius: 6px;
    font-weight: map-get($densidade, regular);
}

.tblLinhas {
    width: 100%;
    height: 50px;
}

.tblColunas {
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: $alaranjado;
    border-radius: 6px;
    border: solid 1px $escura;
    color: $neutra;
    font-size: map-get($size, grau7);

    #upload-imagem {
        @include box(250px, 250px);
        border-radius: 8px;
        margin-top: 6px;
    }

    
}

.ferramentas {
    @include box(28px, 28px);
    transition: .5s;
    filter: brightness(130%);
    margin-left: 8px;
    cursor: pointer;

    &:hover {
        transform: scale(1.3);
        transition: .5s;
    }
}

.destaque {
    font-weight: map-get($densidade, medium);
}

#container-modal {
    @include box(100%, 100%);
    @include display-flex(row, center, center);
    background-color: #0005;
    backdrop-filter: saturate(180%) blur(3px);
    position: fixed;
    z-index: 999;
    
    .modal{
        width: 70vw;
        height: 77vh;
        background-color: $neutra;
        border-radius: 5px;
        display: none;
    }
}

#container {
    @include box(600px, 800px);
    @include display-flex(row, center, center);
    margin: auto;
    margin-top: 55px;

    table {
        @include box(inherit, inherit);
    }
}

.linhas {
    width: 400px;
}

.colunas {
    width: 400px;
    height: 50px;
    text-align: center;
    background-color: $alaranjado;
    border-radius: 6px;
    border: solid 1px $escura;
    color: $escura;
    font-size: map-get($size, grau7);
    font-weight: map-get($densidade, bold);

    #imagem-produto {
        @include box(200px, 200px);
        margin: 10px;
        border-radius: 4px;
    }
}

.destaque-modal {
    font-weight: map-get($densidade, extraBold);
}